*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

/* :root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

section {
  padding: 50px 5%;
} */

header .logo img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

header * {
  font-family: 'Silkscreen', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0 5%;

  background: #d89c81;
  height: 58px;

  position: relative;
}

header .header-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

header nav {
  flex: 3;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

header nav ul li a {
  color: #4a2e42;
  position: relative;
}

header nav ul li a::before {
  content: '';
  position: absolute;

  bottom: -10px;
  width: 100%;
  height: 2.1px;
  background: #4a2e42;
  transform: scale(0);
  transition: 0.3s;
}

header nav ul li a:hover::before {
  transform: scale(1);
}

.fa-solid {
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
  color: rgba(134, 12, 12, 0.62);
}

.watch-btn {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;

  /* background: #996432; */
  background: transparent;
  color: white;
  transition: 0.2s;
}

.watch-btn:hover {
  background: #996432;
  outline: none;
  border-color: #996432;
  text-shadow: 2px 2px 10px white;
}

.fa-volume-high {
  font-size: 0.9rem;
}

main {
  height: calc(100vh - 58px);

  position: relative;
  width: 100%;
}

main #video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  z-index: -1;
}

.center-box {
  color: white;

  height: inherit;
  width: 100%;

  display: grid;
  place-items: center;

  padding: 0px 8%;
}

.center-box .box {
  height: 450px;
  padding: 0px 3%;
  width: 100%;

  background-color: rgba(255, 0, 0, 0.23);
  border-radius: 20px;

  display: flex;
  align-items: center;

  gap: 2rem;
}

.center-box .box .right {
  display: grid;
  place-items: center;
}

.center-box .box .left {
  display: grid;
  place-items: center;
  row-gap: 1.5rem;
  width: 90%;
}

.center-box .box .left h2 {
  font-family: 'Silkscreen', cursive;
  font-size: 2.5rem;
  text-align: center;
}

.center-box .box .left p {
  width: 90%;
  text-align: center;
}

.center-box .box .right img {
  width: 100%;
  border-radius: 5px;
}

audio {
  position: absolute;
  top: -999999;
  left: -999999;
}

.donate-btn {
  padding: 20px 61px;
  border-radius: 70px;
  border-color: red;
  outline: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  font-family: 'Silkscreen', cursive;
}

.donate-btn:hover {
  border-color: rgba(255, 0, 0, 0.42);
  /* color: rgba(255, 255, 255, 0.641); */
  text-shadow: 0 2px 10px white;
}

.fa-solid.fa-bars {
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 991px) {
  header nav {
    /* flex: 3; */
    position: fixed;
    top: -999px;
    z-index: 3;
    width: 100%;
    left: 0;
    transition: 0.3s;
  }

  header nav.open {
    top: 7%;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: rgba(0, 0, 0, 0.478);
  }
  header nav ul li a::before {
    background: white;
  }
  header nav ul li a {
    color: white;
  }

  .fa-solid.fa-bars {
    display: block;
  }

  .fa-dice-one,
  .fa-dice-two,
  .fa-dice-three,
  .fa-dice-four {
    color: red;
    font-size: 2rem;
  }
}

/* @media (max-width: 767px) {
  header {
  }
} */

@media (max-width: 739px) {
  .center-box .box {
    /* height: 450px;
        padding: 0px 3%;
        width: 100%;
        background-color: rgba(255, 0, 0, 0.23);
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 2rem; */
    flex-direction: column;
    height: auto;
  }

  .center-box .box .right img {
    width: 100%;
    height: 300px;
  }
}
